.section-title {
    text-align: center;
    font-size: 2rem; /* 32px */
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
    color: #000000;
    font-family: Playfair Display, sans-serif;
    font-weight: 800;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6); /* 2px, 4px */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem; /* 30px */
    padding: 0 2.5rem; /* 40px */
    margin: 0 auto;
    max-width: 103.125rem;
}

.grid-item {
    background-color: #f8f8f8;
    border-radius: 0.625rem; /* 10px */
    overflow: hidden;
    box-shadow: 0.344rem 0.344rem 0.75rem rgba(0, 0, 0, 0.445); /* 5.5px, 12px */
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.grid-item:hover {
    transform: translateY(-0.625rem); /* 10px */
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.3); /* 8px, 16px */
}

.grid-image {
    width: 18.42rem; /* 294.75px */
    height: 13.68rem; /* 218.875px */
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
}

.grid-title {
    color: #000000;
    font-size: 1.4rem; /* approximately 22px */
    margin: 0.625rem 0 0.625rem; /* 10px */
    font-family: Playfair Display, sans-serif;
    font-weight: 800;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6); /* 2px, 4px */
}

.grid-text {
    color: white;
    padding: 0.9375rem 1.5625rem; /* 15px, 25px */
    background-color: #0A1319;
    border-radius: 0 0 0.625rem 0.625rem; /* 10px */
    margin: 0;
    font-family: Playfair Display, sans-serif;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.1); /* 2px, 4px */
}

/* Blur and zoom effect only on non-hovered grid items */
.grid-container:hover .grid-item:not(:hover) {
    filter: blur(0.0625rem); /* 1px */
    transform: scale(0.95);
    transition: transform 0.3s, filter 0.3s;
}
