header {
  top: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 10rem;
  max-height: 18svw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
}

header .container {
  color: white;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  align-self: center;
  display: flex;
}

.logo {
  height: 90%;
  margin-top: 1%;
  margin-left: 1rem;
}

.logo img {
  height: 100%;
}

header .butons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 90%;
  height: 100%;
  flex-direction: column;
}

header .contacts {
  height: 25%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.333);
  backdrop-filter: blur(5px);
  padding: 0px 0.45rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

header .contacts * {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

header .contacts img {
  background-color: rgba(0, 0, 0, 0);
  filter: invert(0.95);
  height: 60%;
  margin-right: 0.3rem;
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .contacts .tel img {
  margin-left: 0px;
}

header .contacts a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header .contacts a:hover {
  text-decoration: underline 1px;
}

header .btns {
  display: flex;
  margin-top: 1.4%;
  height: 2.8rem;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

header .nav_btn {
  height: 100%;
  display: flex;
  margin-right: 0.6rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

header .nav_btn button {
  /* height: 100%; */
  display: flex;
  font-size: 1.2rem;
  padding: 0px 0.5rem;
  margin-right: 0.7rem;
  background-color: rgba(255, 0, 0, 0);
  justify-content: center;
  align-items: center;
}

header .nav_btn p {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0);
}

header .nav_btn p:hover {
  text-decoration: underline;
}

header .search_bar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 13rem;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10svw 10svw 10svw 10svw / 10svw 10svw 10svw 10svw;
  cursor: text;
}

header .search_bar .search_input {
  flex: 1 1 0%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
}

header .search_bar .search_button {
  border: none;
  background-color: transparent;
  cursor: text;
  margin-right: 0.2rem;
}

header .search_bar .search_button img {
  height: 1.5rem;
  margin: 17% 0px 0px 24%;
  filter: invert(0.4);
}
