@font-face {
  font-family: "Univers Pro Light";
  src: url("../fonts/UniversPro45Light.woff2") format("woff2"); /* Adjust format and path as needed */
  font-weight: normal;
  font-style: normal;
}

/* Font 1: MyFont */
@font-face {
  font-family: "Univers Pro Roman";
  src: url("../fonts/UniversPro55Roman.woff2") format("woff2"); /* Adjust format and path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Univers Pro Bold";
  src: url("../fonts/UniversPro65Bold.woff2") format("woff2"); /* Adjust format and path as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Univers Pro Black";
    src: url("../fonts/UniversPro75Black.woff2") format("woff2"); /* Adjust format and path as needed */
    font-weight: normal;
    font-style: normal;
  }

body {
  font-family: "Univers Pro";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.content {
  width: 100%;
  height: 7000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

button {
  border: 0;
}

main {
  flex: 1;
  padding-bottom: 50px;
}

.fimag {
  height: 0px;
  width: 0px;
  display: none !important;
  position: absolute !important;
}

.title_show {
  font-size: 2cm;
  color: #2a2a2a;
  text-decoration: underline #fdc800;
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 1.7cm;
  margin-bottom: 1cm;
  z-index: 2;
}

#stat_title {
  color: #fff;
  margin-top: 1.5cm;
  margin-bottom: 0.9cm;
}


@media (max-width: 1000px) {
  .title_show
  {
    font-size: 10svw;
  }
} 