.navbar {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); /* Fundal semi-transparent */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10; /* Asigură-te că navbarul e deasupra video-ului */
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
}

.navbar_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 11rem;
  background-color: rgba(255, 255, 255, 0); /* Fundal semi-transparent */
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10; /* Asigură-te că navbarul e deasupra video-ului */
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  transition: all ease 400ms;
}

.navbar a {
  color: white;
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.navbar a:hover {
  text-decoration: underline; /* Add simple underline on hover */
  text-decoration-color: white; /* Ensure the underline is white */
}

.down_nav_but a {
  font-size: 1.29rem;
  border-left: 2px solid #fff;
  padding: 0 0.5rem;
  text-align: center;
  color: white;
  position: relative;
}

.down_nav_but a:first-child {
  border-left: none; /* Remove the left border from the first link */
}

.down_nav_but a {
  font-size: 1.29rem;
  border-left: 2px solid #fff;
  padding: 0 0.5rem;
  text-align: center;
  color: white;
  position: relative;
}

.down_nav_but a:first-child {
  border-left: none; /* Remove left border from the first button (Acasa) */
}

.logo {
  background-color: rgba(255, 255, 255, 0);
  width: 21rem;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all ease 400ms;
}

.logo img {
  object-fit: cover;
  width: 88%;
  -webkit-user-drag: none; /* For WebKit browsers (Chrome, Safari) */
  pointer-events: auto; /* Ensure the image is clickable */
}

.nav_but {
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
  transition: all ease 400ms;
}

.up_nav_but {
  background-color: #ffffff68;
  color: #ffffff;
  width: 38rem;
  padding: 0.55rem 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
  transition: all 400ms ease;
  user-select: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.up_nav_but a {
  margin: 0 0.3rem;
  font-size: 0.9rem;
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  text-decoration: none; /* Remove default underline */
  /* text-shadow: 2.5px 2.5px 5px black; */
}

.up_nav_but a:hover {
  text-decoration: underline; /* Apply underline on hover */
  text-decoration-color: white; /* Set the color of the underline */
  text-decoration-thickness: 1.5px; /* Set the thickness of the underline */
}

.up_nav_but img {
  object-fit: cover;
  height: 1.1rem;
  width: 1.1rem;
  filter: invert(100%);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  user-select: none !important; /* Force disable selection */
  pointer-events: none;
}

.up_nav_but button {
  background-color: #ffffff00;
  color: #ffffff;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
}

.down_nav_but {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.down_nav_but a {
  font-size: 1.29rem;
  border-left: 2px solid #fff;
  width: 7.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  transition: all ease 600ms;
}

.down_nav_but a:first-child {
  border-left: none; /* Removes the left border from the first link */
  margin-left: 1rem; /* Adds margin to the left of the first link */
}

.left_nav_but {
  width: 39.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  font-family: Roboto Slab, serif !important;
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 2px 4px #000000a7;
}

.right_nav_but {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.right_nav_but button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 100px;
  height: 35px;
  width: 100%;
  border: none;
  display: flex;
  transform: scale(1.1);
  margin-right: 1rem;
  margin-left: 1rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.right_nav_but img {
  height: 68%;
  filter: invert(60%);
  aspect-ratio: 1/1;
  z-index: 10;
  left: 5%;
  position: relative;
}

.search_button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  align-content: center;
}

.search_button img {
  -webkit-user-drag: none;
  pointer-events: auto;
}

.search_input {
  display: flex;
  position: relative;
  left: 7.5%;
  width: 70%;
  height: 95%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: #000;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.navbar_container.scrolled {
  background-color: #ffffffde;
  backdrop-filter: blur(6px);
  height: 6rem;
  position: fixed;
  box-shadow: 0px -15px 20px 13px rgb(0, 0, 0);
  transition: all ease 400ms;
}

.scrolled .nav_but {
  justify-content: center;
  transition: all ease 400ms;
}

.scrolled .logo {
  width: 12rem;
  transition: all ease 400ms;
}

.scrolled .up_nav_but {
  height: 0;
  opacity: 0;
  display: none;
  transition: height 800ms ease, opacity 400ms ease, display 200ms ease 800ms;
}

.scrolled .down_nav_but a {
  color: #000; /* Text color becomes black */
  font-size: 1.3rem;
  border-left: 2px solid #000;
  text-shadow: 2px 2px 0px #00000000;
  transition: all ease-in-out 900ms;
  text-shadow: none;
  text-decoration-color: #000; /* Ensure the underline stays black */
}

.scrolled .down_nav_but a:first-child {
  border-left: none; /* Remove the left border from the first link */
}

/* Telefon */
.nav_phone {
  height: 72.6%;
  margin-right: 4.1%;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row-reverse;
  transition: all ease 600ms;
}

.scrolled .nav_phone {
  height: 80%;
  transform: scale(0.87);
  margin-right: 2%;
  transition: all ease 400ms;
}

/* Hamburger button */
/* Hamburger button styles */
.hamburger {
  position: relative;
  /* top: 2.5rem; */
  /* right: 3rem; */
  width: 3.2rem;
  height: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 11;
  transition: all 0.3s ease;
}

.hamburger .bar {
  height: 12%;
  width: 100%;
  background-color: white;
  border-radius: 200px;
  transform-origin: top left;
  transition: all 0.3s ease;
  /* transition: all ease 600ms; */
}

.scrolled .hamburger .bar {
  background-color: #000;
  transition: all ease 400ms; /*scroled*/
}

.hamburger .bar:nth-child(3) {
  transform-origin: bottom left;
}

/* Active state for animation */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger.active {
  transform: translate(0.508374rem);
}

/* Ecran mic    */
@media screen and (max-width: 1200px) {
  .nav_but {
    display: none;
  }

  .navbar {
    align-content: center;
    /*  */
  }

  .scrolled .navbar {
    align-items: center;
  }

  .navbar::after {
    align-content: center;
  }

  .hamburger {
    display: flex;
  }
}

/* Telefon */
@media screen and (max-width: 1000px) {
  .navbar_container {
    background-color: #fff;
    height: 10svw;
    min-height: 9svh;
    position: fixed;
  }

  .video-container
  {
    margin-top: 10svw;
    height: 90%;
  }

  .logo {
    min-height: 80%;
    width: auto;
    /* max-width: 24svw; */
    height: 97%;
    /* min-width: 18svh; */
    max-height: 10svw;
    object-fit: cover;
    display: flex;
    align-items: center;
    object-fit: cover;
    align-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .nav_phone {
    height: 100%;
    width: 50%;
    /* transform: scale(1); */
    transform-origin: center right;
  }

  .hamburger .bar {
    background-color: #000;
  }
}

/* Ecran mic calculator */
@media screen and (max-width: 1200px) {
  .nav_but {
    display: none;
  }

  .navbar {
    align-content: center;
    /*  */
    align-items: center;
  }

  .scrolled .navbar {
    align-items: center;
  }

  .navbar::after {
    align-content: center;
  }

  .hamburger {
    display: flex;
  }
}

/* Contur la buton schimbat */
@media screen and (max-width: 1300px) {
  .up_nav_but {
    border-bottom-right-radius: 0px;
  }
}
