.navbar {
    position: absolute;
    top: 0;
    width: 90%;
    max-width: 1200px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0); /* Fundal semi-transparent */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10; /* Asigură-te că navbarul e deasupra video-ului */
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    /* margin: 0 15px; */
}

.navbar a:hover {
    text-decoration: underline;
}

.logo
{
    background-color: rgb(255, 255, 255);
    width: 330px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.logo img {
    object-fit: cover;
    width: 88%;
}

.nav-but
{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-content: center;
}

.up-nav-but
{
    background-color: #ffffff68;
    color: #ffffff;
    padding: 10.2px 18px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20.5px;
}

.up-nav-but a
{
    margin: 0 9.6px;
}

.nav-but img {
 object-fit: cover;
 height: 20px;
 width: 20px;
 filter: invert(100%);
 display: flex;
 align-items: center;
 flex-wrap: nowrap;
 flex-direction: row;
 justify-content: center;
}

.nav-but button {
 background-color: #ffffff00;
 color: #ffffff;
 display: flex;
 align-items: center;
 align-content: center;
 padding: 0;
 flex-wrap: wrap;
 flex-direction: row;
}


.down-nav-but
{
    z-index: 1;
}