
  ::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #444;  /* Darker background for the track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffd699, #ffbb66);  /* Lighter orange gradient */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to bottom, #ffca80, #ff9e40);  /* Even lighter orange when active */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ffca80, #ff9e40);  /* Even lighter orange when hovered */
  }
  