.slider {
    position: relative;
    max-width: 100%;
    height: 100svh;
    overflow: hidden;
}

.slide {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    object-fit: contain;
}

.slide-in,
.slide-out {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    width: 4svw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.899);
    color: rgb(0, 0, 0);
    transform: scale(1.07); /* Scale up on hover */
}

.prev:active, .next:active {
    background-color: rgba(255, 255, 255, 0.7); /* Translucent on click */
    transform: scale(1.07); /* Keep scale consistent */
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease; /* Arrow movement */
    font-size: 24px; /* Slim arrow */
}

/* Keep the arrow in place on hover */
.prev:hover .arrow,
.next:hover .arrow {
    transform: translateX(0); /* No movement on hover */
}

/* Move the arrow on click */
.prev:active .arrow {
    transform: translateX(-10px); /* Move arrow left on click */
}

.next:active .arrow {
    transform: translateX(10px); /* Move arrow right on click */
}

.prev {
    left: 4svw;
}

.next {
    right: 4svw;
}
