.slider {
    position: relative;
    max-width: 100%;
    height: 100svh;
    overflow: hidden;
}
 /* DE LUCART LA ÎNĂȘȚIMEA DINAMICĂ LA HIDER*/
.slide {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100svh - var(--header-height));
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.slide-in {
    display: none;
}


.slide-out {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    width: 4svw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
}

.prev:hover, .next:hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.899);
    color: rgb(0, 0, 0);
    /*box-shadow: 0px 0px 6px 2px rgb(255, 255, 255);*/
    cursor: pointer;
}

.prev {
    left: 4svw;
}

.next {
    right: 4svw;
}