.product-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    min-height: 30.8svw;
    height: 40.4svh;
    align-content: center;
    align-items: stretch;
}

.product-image {
    overflow: hidden;
    display: flex;
    width: 95.8vw;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.product-description {
    background-color: #0A1319;
    color: rgb(255, 255, 255);
    padding: 20px;
    flex-grow: 1;
    display: flex;
    /* width: 60%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 300px;
}

.product-description p {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
}

.center-heading {
    font-family: "Playwrite GB", sans-serif;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}
